<!DOCTYPE html>
<html lang="en">
	

	<head bgcolor="#191923">
  		<meta charset="utf-8" />
  		<title>{{ title }}</title>
  		<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
  		<form method="POST">
    		<input name="lambda">
    		<input name="text">
    		<input name="text">
    		<input name="text">
    		<input name="text">
    		<input name="text">

    		<input type="submit">
  		</form>
</head>

	<body>
	
	</body>	



</html>