<!DOCTYPE html>
<html lang="en">

<style>
  .formTitle {
    font-family: "Helvetica";
    font-style: bold;
    font-size: 48px;
    color: black;
  }
  .chartProcessTitle {
    font-family: "Helvetica";
    font-style: bold;
    font-size: 36px;
    color: black;
  }
  .chartTitle {
    font-family: "Helvetica";
    font-style: bold;
    font-size: 42px;
    color: black;
  }
  .formFields {
    font-family: "Helvetica";
    font-style: bold;
    color: black;
  } 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }
  canvas {
    width: 1400px !important;
    height: 800px !important;
  }

  .chart{
    width: 1200px !important;
    height: 500px !important;;
  }

</style>

<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </br>
    <form method="POST">
    <fieldset>
      <legend> 
        <div class = formTitle> Processo de Aprendizado </div>  
      </legend>
      </br>
      <div class=formFields>
        Processo de Aprendizado (Id) 
        <input name="lpId">
      </div>
      
      </br>
      <input type="Submit">
    </fieldset>
  </form>

</head>
<body>

  <div>
    <center>
      </br>
      </br> 
      <div class=chartProcessTitle> Processo de Aprendizado: {{ learningProcessId }}</div>
      </br>
      </br>          
      <div id="probsPerState" class="chart">
        <script>

          var stateLabels = [
            {% for state in range(states) %}
              "Estado {{ state }}",
            {% endfor %}];

          var datasets = [
          {% for action in range(actions) %}
            { x: stateLabels,
              y:  [{% for state in range(states) %}
                      {{stateActionValues[state][action+1]}},
                  {% endfor %}],
              type: 'bar',
              name: "Ação {{action}}"
            },
          {% endfor %}];

          var layout = {
            title:'Valores das Ações para cada Estado',
            annotations: [],
              xaxis: {
                ticks: '',
                title: 'Estados',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              },
              yaxis: {
                ticks: '',
                title: 'Valor Estado-Ação (Adimensional)',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              }
          };

          Plotly.newPlot('probsPerState', datasets, layout);
  
        </script> 
      </div>
      </br>
      </br>
      <div id="generalMeasuresChart" class="chart"> 
        <script>
            var iterationLabels = [
              {% for item in chart2_labels %}
                "{{ item }}",
              {% endfor %}];

            var linePositions = [
              {% for item in chart2_linePosition %}
                {{ item }},
              {% endfor %}];

            var positionErrors = [
              {% for item in chart2_positionError %}
                {{ item }},
              {% endfor %}];

            var currentStates = [
              {% for item in chart2_currentState %}
                {{ item }},
              {% endfor %}];

            var actionsTaken = [
              {% for item in chart2_actionTaken %}
                {{ item }},
              {% endfor %}];

            var nextStates = [
              {% for item in chart2_nextState %}
                {{ item }},
              {% endfor %}];

            var rewards = [
              {% for item in chart2_reward %}
                {{ item }},
              {% endfor %}];

            var linePositionDataset = {
              x: iterationLabels,
              y: linePositions,
              mode: 'lines',
              line: {shape: 'spline'}, 
              name: 'Posição da Linha',
            };        

            var linePositionErrorDataset = {
              x: iterationLabels,
              y: positionErrors,
              mode: 'lines',
              line: {shape: 'spline'}, 
              name: 'Erro de Posição',
            };

            var currentStateDataset = {
              x: iterationLabels,
              y: currentStates,
              mode: 'lines',
              name: 'Estado Atual',
            };        

            var actionsTakenDataset= {
              x: iterationLabels,
              y: actionsTaken,
              mode: 'lines',
              line: {shape: 'spline'}, 
              name: 'Ação Tomada',
            };

            var nextStatesDataset = {
              x: iterationLabels,
              y: nextStates,
              mode: 'lines',
              line: {shape: 'spline'}, 
              name: 'Próximo Estado',
            };        

            var rewardsDataset = {
              x: iterationLabels,
              y: rewards,
              mode: 'lines',
              line: {shape: 'spline'}, 
              name: 'Recompensa',
            };

            var averageRewardDataset = {
              x: iterationLabels,
              y: {{ averageReward_data  }},
              mode: 'lines',
              name: 'Recompensa Média Acumulada',
            };

            var layout = {
              title:'Medidas Gerais do Q-learning',
              annotations: [],
              xaxis: {
                ticks: '',
                title: 'Iterações',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              },
              yaxis: {
                ticks: '',
                title: 'Medida (Adimensional)',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              }

            };

            var data = [linePositionDataset,linePositionErrorDataset,
                        currentStateDataset,actionsTakenDataset,
                        nextStatesDataset,rewardsDataset,
                        averageRewardDataset];

            Plotly.newPlot('generalMeasuresChart', data, layout);
        </script>
      </div>   
      </br>
      </br>
      <div id="stateActionAccessHeatMap" class="chart">
        <script>
          var actionLabels = [
            {% for action in range(actions) %}
              'Ação {{ action }}',
            {% endfor %}];

          var stateLabels = [
            {% for state in range(states) %}
              'Estado {{ state }}',
            {% endfor %}];

          var xValues = actionLabels;
          var yValues = stateLabels;
          var zValues = {{heatmap_data}};
          var data = [{
            x: xValues,
            y: yValues,
            z: zValues,
            type: 'heatmap',
            colorscale: 'YIOrRd',
            showscale: true
          }];

          var layout = {
            title: 'Mapa de Calor da Tabela Q: número de acessos',
            annotations: [],
            xaxis: {
              ticks: '',
              side: 'top'
            },
            yaxis: {
              ticks: '',
              ticksuffix: ' ',
              width: 700,
              height: 700,
              autosize: true
            }
          };

          for ( var i = 0; i < yValues.length; i++ ) {
            for ( var j = 0; j < xValues.length; j++ ) {
              var currentValue = zValues[i][j];
              if (currentValue != 0.0) {
                var textColor = 'black';
              } else {
                var textColor = 'black';
              }
              var result = {
                xref: 'x1',
                yref: 'y1',
                x: xValues[j],
                y: yValues[i],
                text: zValues[i][j],
                font: {
                  family: 'Arial',
                  size: 12,
                  color: 'rgb(50, 171, 96)'
                },
                  showarrow: false,
                  font: {
                  color: textColor
                }
              };
              layout.annotations.push(result);
            }
          }
          Plotly.newPlot('stateActionAccessHeatMap', data, layout);
        </script>
      </div>
      </br>
      </br>
      {% for state in range(states) %}
      <div id="probEvolution{{state}}" class="chart">
        <script>

          var iterationLabels = [
              {% for item in chart2_labels %}
                "{{ item }}",
              {% endfor %}];

          var dataset = [
            {% for action in range(actions) %}
              { x: iterationLabels,
                y: {{ stateActionProbLog[state][action] }},
                mode: 'lines',
                line: {shape: 'spline'},
                name: "Estado {{state}} - Ação {{action}}" },
            {% endfor %} ];

          var layout = {
            title:'Estado {{state}} - Evolução dos valores das Ações',
            annotations: [],
              xaxis: {
                ticks: '',
                title: 'Iterações',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              },
              yaxis: {
                ticks: '',
                title: 'Valor Estado-Ação (adimensional)',
                titlefont: {
                  family:'Arial',
                  size: 14
                }
              }
          };

          Plotly.newPlot('probEvolution{{state}}', dataset, layout);

        </script>
      </div>
      </br>
      </br>
      {% endfor %}
    </center>
  </div>  
</body>
</html>